/* Font Family
================================================== */

/* @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap"); */


/* Global Styles
================================================== */
body:before {
    content: '';
    position: fixed; 
    left: 0; right: 0; 
    top: 0; bottom: 0; 
    z-index: -1; 
    background: url(img/Step.jpg) center / cover no-repeat;
    background-size: 100% 100%;
    filter: blur(3px);
   }
   
html,body {
color:#fff;
font-family: 'PT Sans', sans-serif;
line-height:1;
font-size: 100%;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
height: 100%;
}


.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.content{
    display: flex;
    flex: 1 1 auto;
}

/* Setup
================================================== */

.container { position:relative; margin:0 auto; max-width:800px; width:100%; padding-top: 8%; }
.column { width:inherit; }


/* Typography / Links
================================================== */

p { color:#fff; display:block; font-size:.9rem; font-weight:400; margin:0 0 2px; }

a,a:visited { color:wi; outline:0; text-decoration:underline; }
a:hover,a:focus { color:white; }
p a,p a:visited { line-height:inherit; }


/* Misc.
================================================== */

.add-bottom { margin-bottom:2rem !important; }
.left { float:left; }
.right { float:right; }
.center { text-align:center; }
.hidden { display:none; }

.no-support {
margin:2rem auto;
text-align:center;
width:90%;
}


/* Audio Player Styles
================================================== */



audio {
display:none;
}

#audiowrap,
#plwrap {
margin:0 auto;
}

#tracks {
font-size:0;
position:relative;
text-align:center;
margin-top: 50px;
height: 50px;
}

#nowPlay {
display:block;
font-size:0;
}

#nowPlay span {
display:inline-block;
font-size:1.05rem;
vertical-align:top;
}

#nowPlay span#npAction {
/* padding:21px; */
width:30%;
}

#nowPlay span#npTitle {
/* padding:21px; */
text-align:right;
width:70%;
}

#plList li {
cursor:pointer;
display:block;
margin:0;
padding:21px 0;
}

#plList li:hover {
background-color:rgba(0, 0, 0, .1);
}

.plItem {
position:relative;
}

.plTitle {
left:50px;
overflow:hidden;
position:absolute;
right:65px;
text-overflow:ellipsis;
top:0;
white-space:nowrap;
}

.plNum {
padding-left:21px;
width:25px;
}

.plLength {
padding-left:21px;
position:absolute;
right:21px;
top:0;
}

.plSel,
.plSel:hover {
background-color:rgba(0, 0, 0, .1);
color:#fff;
cursor:default !important;
}

#tracks a {
border-radius:3px;
color:#fff;
cursor:pointer;
display:inline-block;
font-size:2.3rem;
height:40px;
line-height:.2;
margin:0 5px 30px;
padding:12px;
text-decoration:none;
transition:background .3s ease;
}

#tracks a:hover,
#tracks a:active {
background-color:rgba(0, 0, 0, .1);
color:#fff;
}

#tracks a::-moz-focus-inner {
border:0;
padding:0;
}


/* Plyr Overrides
================================================== */

.plyr--audio .plyr__controls {
background-color:transparent;
border:none;
color:#fff;
font-family: 'PT Sans', sans-serif;
padding:20px 20px 20px 13px;
width:100%;
}

a.plyr__controls__item.plyr__control:hover,
.plyr--audio .plyr__controls button:hover,
.plyr--audio .plyr__controls button.tab-focus:focus,
.plyr__play-large {
background-color:rgba(0, 0, 0, .1);
}

.plyr__progress--played,
.plyr__volume--display {
color:rgba(0, 0, 0, .1);
}

.plyr--audio .plyr__progress--buffer,
.plyr--audio .plyr__volume--display {
background-color:rgba(0, 0, 0, .1);
}

.plyr--audio .plyr__progress--buffer {
color:rgba(0, 0, 0, .1);
}

.plyr--full-ui input[type="range"] {
width:calc(100% - 39px);

}

.plyr--full-ui input[type="range"] {
    width:calc(100% - 39px);
    color: #cbbebb;
    }

.plyr__controls .plyr__controls__item.plyr__time {
font-size:14px;
margin-left:7px;
}


/* Media Queries
================================================== */

@media only screen and (max-width:600px) {
    #nowPlay span#npAction { display:none; }
    #nowPlay span#npTitle { display:block; text-align:center; width:100%; }
    
}

.header{
    display: flex;
    /* height: 7.2%; */
    background-color:black;
    opacity: 80%;
    position: fixed;
    z-index: 10;
    width: 100%;
}
.header__row{
    display: flex;
    align-items: center;
    width: 60%;
    margin-left: 35%;
}
.header__menu{
    display: flex;
    width: 100%;
}
.menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
    height: 2px;
    width: 80%;
    position: absolute;
    background: #ffffff;
    margin: 0 auto;
    display: none;
}
.menu-burger__header span{
    top: 15px;
    height: 3px;
}
.menu-burger__header:after, .menu-burger__header:before{
    content: '';
    height: 2px;
}
.menu-burger__header:after{
    bottom: 11px;
    height: 2px;
}
.menu-burger__header:before{
    top: 9px;
    height: 2px;
}




/* nav */
.nav{
    width: 100%;
}
.header__row_links{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.headerlink{
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-right: 30%;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    line-height: 1.2;
}
.headerlink:hover{
    color: rgb(182, 182, 182);
    transition: 0.5s;
}
.headerlist_link_{
    color: white;
     font-size: 13px;
     text-decoration: none;
     color: rgb(255, 255, 255);
     text-transform: uppercase;
     line-height: 1.2;
     text-align: center;
     font-family: 'PT Sans', sans-serif;
}
.aaoo{
    display: none;
}
/* выпадающий список */
.dropbtn{
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-right: 30%;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    line-height: 1.2;
}
    .header__row_links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }
    
    li.ll {
    float: left;
    }
    
    li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
    .dropdown {
    display: inline-block;
    margin-bottom: 5 px;
    }
    
    .dropdown_content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 0 0 15px 15px;

    }
    .dropdown_content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    }
    
    .dropdown_content a:hover { 
    text-decoration: underline;
    font-size: 15px;
    
    }
    .dropdown:hover .dropdown_content {
    display: block;
    background-color: #554f3e;
    }
    .nav__link2{
     color: white;
     font-size: 13px;
     text-decoration: none;
     color: rgb(255, 255, 255);
     text-transform: uppercase;
     line-height: 1.2;
     text-align: center;
     font-family: 'PT Sans', sans-serif;
     }

            /* bottom  */
            .footer{
                width: 100%;
                background-color: black;
              }
              .bottom_text {
                margin-left: 43%;
              display: flex;
              padding: 12px;
              
              }
              .startech2{
              color: white;
              font-size: 13.5px;
              line-height: 1.2;
              margin-right: 10px;
              }
              .startech{
              color: #848484;
              font-size: 13px;
              line-height: 1.2;
              font-weight: 100;
              }

              @media (min-width: 1919px)
              {
                .headerlink{
                    font-size: 33px;
                    }
                    .dropbtn{
                    font-size: 33px;
                    }
                    .header{
                    display: flex;
                    height: 7.2%;
                    background-color:black;
                    opacity: 80%;
                    position: fixed;
                    z-index: 10;
                    width: 100%;
                    }
              }
       
    @media (max-width: 991px){
        
        .header__row{
            width: 70%;
            margin-left: 25%;
        }
        .header{
            height:6%;
        }
        li a, .dropbtn {
            padding: 13px 16px;
            font-size: 18px;
        }
        .headerlink{
            font-size: 18px;
        }}
 

        @media (max-width: 768px){
   
            .header{
                height:3,5%;
            }
           
            li a, .dropbtn {
                padding: 0px 16px;
                font-size: 13px;
            }
            .menu-burger__header {
                position: relative; /* задаем относительное позиционирование */
                width: 40px; /* определяем размеры блока */
                height: 35px;
                display: block;
                left: 90%;
                top: 2px;
                z-index: 11;
            }
            .menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
                display: block;
            }
            .menu-burger__header.open-menu span {
                opacity:0; 
                transition: 0.5s; 
            }
            .menu-burger__header.open-menu:before {
                transform: rotate(38deg);
                top: 16px;
                transition: 0.4s;
            }
            .menu-burger__header.open-menu:after {
                transform: rotate(-38deg);
                bottom: 16px;
                transition: 0.4s;
            }
                .header__row_links{
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    width: 100%;
                    justify-content:end;
                    margin-top: 10px;
                    margin-left: 5px;
                }
                .nav{
                    position: absolute;
                    top: 100%;
                    left: 100%;
                    background: rgb(0, 0, 0);
                    box-shadow: #ccc;
                    width: 30%;
                    height: 330px;   
                    box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);
                    transition: all 0.4s ease;
        
                }
                .nav.open-menu {
                    left: 70%;
                }
                .dropdown_content{
                    visibility: hidden;
                }
                .nav__link2{
                    font-size: 13px;
                    text-decoration: none;
                    color: rgb(131, 131, 131);
                    text-transform: uppercase;
                    line-height: 1.2;
                    text-align: center;
                    font-family: 'PT Sans', sans-serif;
                    padding-left: 0px;
                    padding-top: 10px;
                }

              
                .nav__link2:hover{
                    color: #fff;
                    text-decoration: underline;
                }

                .headerlink{
                    margin: 0px;
                    font-size:28px;
                    padding-left: 12px;
                    padding-bottom: 13px;
                    
                }

                .dropdown.ll {
                    padding-left: 5px;
                }
                .headerlink:hover{
                    color: rgb(133, 133, 133);
                }
                .main{
                    padding-right: 142px;
                }
                .dropbtn{
                    font-size: 28px;
                    padding: 0px;
                    padding-left: 12px;
                    pointer-events: none;
                    margin-bottom: 4px;
                }
                .aaoo{
                    display: flex;
                    flex-direction: column;
                    padding: 0px;
                    padding-bottom: 27px;
                    height: 100%;
                    width: 100%;
                }
                .header{
                    height: 5%;
                }
        
              ol {
                list-style-type: none; 
                margin: 0 0 0 60px;
                padding: 0px 0 0px 0;
                font-size: 16px;
                position: relative;	
            }
            ol li.l {
                position: relative;	
                margin: 0 0 0 0;
                padding: 0 0 0px 0;
                line-height: 1;
            }
            ol li.l:before {
                content: ''; 
                display: inline-block;
                position: absolute;
                top: 18px;
                left: -50px;
                width: 6px;
                height: 6px;
                background: #fff;
                color: #000;
                text-align: center;
                line-height: 28px;
                font-size: 18px;
                border-radius: 50%;
                border: 1px solid #ffffff;
            }
            /* Вертикальная линия */
            ol:before {
                content: ''; 
                position: absolute;
                top: 10px;
                left: -27px;
                width: 1px;
                height: 78px;
                border-left: 1px solid #b9b9b9;
            }
        
          
            .bottom{
                height: 4%;
                top: 0%;
            }
        
            .bottom_text{
                margin-left: 34.5%;
            }
            .startech{
                font-size: 15px;
            }
            .startech2{
                font-size: 20px;
                line-height: 0.7;
            }
        }

        @media (max-width: 575px){

            .header{
                height: 4%;
                
                }
                
                li a, .dropbtn {
                padding: 0px 0px;
                font-size: 13px;
                }
                .menu-burger__header {
                position: relative; /* задаем относительное позиционирование */
                width: 20px; /* определяем размеры блока */
                
                display: block;
                left: 90%;
                top: 2px;
                z-index: 11;
                }
                .menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
                display: block;
                }
                .menu-burger__header.open-menu span {
                opacity:0;
                transition: 0.5s;
                }
                .menu-burger__header.open-menu:before {
                transform: rotate(38deg);
                top: 16px;
                transition: 0.4s;
                }
                .menu-burger__header.open-menu:after {
                transform: rotate(-38deg);
                bottom: 16px;
                transition: 0.4s;
                }
                .header__row_links{
                display: flex;
                flex-direction: column;
                height: 100%;
                width: 100%;
                justify-content:end;
                margin-top: 10px;
                margin-left: 0px;
                }
                .nav{
                position: absolute;
                top: 100%;
                left: 100%;
                background: rgb(0, 0, 0);
                box-shadow: #ccc;
                width: 40%;
                height: 205px;
                box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);
                transition: all 0.4s ease;
                
                }
                .nav.open-menu {
                left: 60%;
                }
                .dropdown_content{
                visibility: hidden;
                }
                .nav__link2{
                font-size: 9px;
                text-decoration: none;
                color: rgb(131, 131, 131);
                text-transform: uppercase;
                text-align: center;
                font-family: 'PT Sans', sans-serif;
                padding-left: 0px;
                padding-top: 2px;
                margin-left: -20px;
                }
                
                .rar {
                
                margin-left: -20px;
                }
                .nav__link2:hover{
                color: #fff;
                text-decoration: underline;
                }
                
                .headerlink{
                margin: 0px;
                font-size:16px;
                /* padding-left: 7px; */
                padding-bottom: 11px;
                
                
                }
                .headerlink:hover{
                color: rgb(133, 133, 133);
                }
                
                .dropbtn{
                font-size: 15px;
                padding: 0px;
                padding-left: 7px;
                pointer-events: none;
                }
                .aaoo{
                display: flex;
                flex-direction: column;
                padding: 0px;
                height: 100%;
                width: 100%;
                }
                
                
                ol {
                list-style-type: none;
                margin: 0 0 0 50px;
                padding: 0px 0 5px 0;
                font-size: 11px;
                position: relative;
                }
                ol li.l {
                position: relative;
                margin: 0 0 0 0;
                padding: 0 0 5px 0;
                line-height: 1;
                }
                ol li.l:before {
                content: '';
                display: inline-block;
                position: absolute;
                top: 3px;
                left: -45px;
                width: 2px;
                height: 2px;
                background: #fff;
                color: #000;
                text-align: center;
                line-height: 28px;
                font-size: 18px;
                border-radius: 50%;
                border: 1px solid #ffffff;
                }
                /* Вертикальная линия */
                ol:before {
                content: '';
                position: absolute;
                top: 2px;
                left: -32px;
                width: 1px;
                height: 45px;
                border-left: 1px solid #b9b9b9;
                }
                
            .bottom{
                height: 4%;
                top: 0%;
            }
        
            .bottom_text{
                margin-left: 30%;
            }
            .startech{
                font-size: 10px;
            }
            .startech2{
                font-size: 15px;
                line-height: 0.7;
            }
        }



